@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Shantell Sans", sans-serif; /* Default body font */
  line-height: 1.6;
  font-weight: 400;

  /* Brand colors as defaults */
  color: #6bf7c9; /* primary-green */
  background-color: #fb1a66; /* second-pink */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-rubik-dirt: "Rubik Dirt", sans-serif;
  --font-sedgwick-ave: "Sedgwick Ave", cursive;
  --font-sedgwick-ave-display: "Sedgwick Ave Display", cursive;
  --font-permanent-marker: "Permanent Marker", cursive;
  --font-shantell-sans: "Shantell Sans", sans-serif;

  --color-primary-green: #6bf7c9;
  --color-second-green: #88f8d3;
  --color-third-green: #a5fade;
  --color-fourth-green: #bdfbe7;
  --color-fifth-green: #d5fdf0;
  --color-sixth-green: #edfef9;

  --color-primary-black: #000000;
  --color-second-black: #0d0d0d;
  --color-third-black: #1a1a1a;
  --color-fourth-black: #262626;
  --color-fifth-black: #333333;

  --color-primary-pink: #fc568e;
  --color-second-pink: #fb1a66;
  --color-third-pink: #fb387a;
  --color-fourth-pink: #fc6f9f;
  --color-fifth-pink: #fd88b0;
  --color-sixth-pink: #fda1c0;
  --color-seventh-pink: #febad1;
}