
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@theme {
  --color-primary-green: #6bf7c9;
  --color-second-green: #88f8d3;
  --color-third-green: #a5fade;
  --color-fourth-green: #bdfbe7;
  --color-fifth-green: #d5fdf0;
  --color-sixth-green: #edfef9;

  --color-primary-black: #000000;
  --color-second-black: #0d0d0d;
  --color-third-black: #1a1a1a;
  --color-fourth-black: #262626;
  --color-fifth-black: #333333;

  --color-primary-pink: #fc568e;
  --color-second-pink: #fb1a66;
  --color-third-pink: #fb387a;
  --color-fourth-pink: #fc6f9f;
  --color-fifth-pink: #fd88b0;
  --color-sixth-pink: #fda1c0;
  --color-seventh-pink: #febad1;
}
